/* _edit_approve_extrawork_requet */
#table-attendances {
 th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

h4 {
  text-align: center;
}

.btn-submit {
  display: block;
  text-align: center;
}

.btn-submit-request {
  display: block;
  width: 100%;
}