/* _new */

.form-new-label {
  margin-top: 5px;
}

.btn-form-new {
  margin-top: 15px;
  width: 30%;
}

/* _edit */

.form-edit-label {
  margin-top: 5px;
}

.btn-form-edit {
  margin-top: 15px;
  width: 30%;
}