/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* index */

.btn-destroy {
  margin: 0 0 10px 10px;
}

.btn-edit {
  margin-bottom: 5px;
}

.collapse {
  margin-top: 15px;
}

/* _form */

.btn-in-form {
  margin: 10px 0;
}

.label-form {
  margin-top: 5px;
}